@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import 'tailwindcss';

@font-face {
  font-family: 'Inter:Medium';
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter:Semi Bold';
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter:Regular';
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
  font-weight: 400;
  font-style: normal;
}

html,
body,
#root {
  height: 100%;
}

* {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
